nav ul li:hover{
  background-color:#088;
  border-color: #111;
}

.navbar {
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: black;
  color: white !important;
  background-color:#000;/* #2c3e50;*/
  padding: 10px 15px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  position: relative;
}


body {
	background-color: white;
	color: #345151 !important;
	font-family: Georgia, Times, serif, Bookman;
	font-size: 16px !important;
}


 
#quarto-header {
    display: inline-block;
    text-decoration-color: #088  !important;
    list-style-type: none;
    font-size: 24px !important;
    border: none;
}



h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Lato, Helvetica, Arial, sans-serif;
	margin: .75em 0;
	text-transform: none;
	font-weight: 200;
	color: #00a2ab !important;
}
h1,
h2 {
	margin: .5em 0;
}
h5,
h6 {
	text-transform: uppercase;
}

div.quarto-post h3 a {
    color: #00a2ab !important;
    text-decoration: none; /* Or any other decoration you prefer */
}


.ggiraph-svg, .girafe{
  font-size: 15px;
  max-width: 720px !important;
  margin:auto;
  width: 100% !important;
  height: auto !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.girafe_container_std {
    position: relative;
    text-align: center;
    width: 100%; 
    height: 100%; 
    margin: 0 auto;
    padding: 0;
   
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    cursor: default;
    background-color: transparent !important;
    font-weight: bold;
    border: transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: : transparent !important;
    border-image-outset: 0 !important;
    border-image-repeat: stretch !important;
    border-image-slice: 100% !important;
    border-image-source: none !important;
    border-image-width: 1 !important;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}



.shiny-main-container {
  max-width: 100% !important;
  margin: auto;
  height: auto !important;
}

.shiny-plot-output .ggiraph-svg{
  max-width: auto !important;
  margin:auto;
  max-height: 400px;
  width: 100% !important;
  height: auto !important;
  position: relative !important;
  aspect-ratio: 9/ 5 !important;
}


